*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


bin
gen
target
.settings
.classpath
.project
*.swp
*.orig
*.log
*.DS_Store

/.apt_generated
/res/values/com_crashlytics_export_strings.xml
.idea
local.properties